:root {
  --primary-color: #008148;
  --secondary-color: #323B86;
  --accent-color: #e8e7fa;
  --shadow-color: #E8E8E8;
}
* {
  box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
